.bg-dark-gray{
    background-color: #333333;
}

.bg-basket-banner{
    background-image: url(Styles-Images/basket-image.JPG); 
    height: 656px; 
    background-size: cover;
     background-repeat: no-repeat; 
     background-position: initial;
}

.banner-title{
    margin-top: 530px; 
    font-size: 75px; 
    color:#ffffff;
}

.form-title{
    color: #619e17; 
    font-size: 30px;
}

.contact-details-font-size{
    font-size: 20px;
}

.footer-size{
    height: 400px;
}

.footer-title-font{
    color: #ffffff; 
    font-size: 30px;
}

.footer-text-font{
    color: #ffffff; 
    font-size: 25px;
}

.footer-social-link{
    text-decoration: none; 
    color: #ffffff;
}

.form-control{  
    border: 2px solid #88c140 !important;
}

.btn-success{  
    background-color: #88c140 !important;
}

.btn-success:hover{  
    background-color: #619e17 !important;
}

.footer-social-facebook-container:hover{
    color: #3b5998; 
}

.footer-social-instagram-container:hover{
    color: #FD1D1D;
}

.footer-social-twitter-container:hover{
    color: #1DA1F2;
}